<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appointmentscheduling">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppointmentScheduling">

        <activity android:name=".student.ViewAppointment"/>

        <activity android:name=".student.StudentBookAppointment" />

        <activity
            android:name=".admin.AdminDraw"
            android:label="@string/title_activity_admin_main_draw"
            android:theme="@style/Theme.AppointmentScheduling.NoActionBar" />

        <activity
            android:name=".superAdmin.SuperAdminDraw"
            android:label="@string/title_activity_sup_adm_draw"
            android:theme="@style/Theme.AppointmentScheduling.NoActionBar" />

        <activity
            android:name=".MainHomeActivity"
            android:label="MainHomeActivity"
            android:theme="@style/Theme.AppointmentScheduling.NoActionBar" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>